<div id="index" ng-controller="IndexListCtrl">
	<div class="row">
		<div class="col-lg-12">
			<div class="well">
				<ul class="blog-items">
					<li ng-repeat="item in indexList" class="item_title">
						<div class="list_a_item">
							<div class="title">
								<div>
									<h4>
										<a href="#!/blogs/{{item.path}}">{{item.title}}</a>
									</h4>
								</div>
								<div class="list_a_item_sub">
									<span> <i class="glyphicon glyphicon-time"></i>
										{{item.date}} <span class="tag"><i
											class="glyphicon glyphicon-tag"></i> <span
											ng-repeat="tag in item.tags">{{tag}}&nbsp;</span></span>
									</span>
								</div>
							</div>
						</div>

					</li>
				</ul>
			</div>
		</div>
	</div>
</div>