<div class="bs-docs-section" ng-controller="PostCtrl">
	<div class="row">
		<div class="col-lg-10">
			<div class="well bs-component" id="post">
				<div ng-markdown="postContent"></div>
                <a href="index.html" class="btn btn-link"><i class="icon icon-material-chevron-left"></i>&nbsp;Back</a>
			</div>
		</div>
	</div>
	
	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{threadKey}}" data-title="{{postTitle}}" data-url="{{postUrl}}"></div>
	<!-- 多说评论框 end -->
	
	
</div>